@model IEnumerable<InAndOut.Models.Item>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Borrowed Items List</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-area="" asp-controller="Item" asp-action="Create">Create New Item</a>
        </div>
    </div>
    <br />


    @if (Model.Count() > 0)
    {
        <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Borrower</th>
                <th scope="col">Lender</th>
                
            </tr>
        </thead>
        <tbody>
        
            @foreach (var item in Model)
            {<tr>
                <td scope="col">@item.ItemName</td>
                <td scope="col">@item.Borrower</td>
                <td scope="col">@item.Lender</td>
                <td class="col-6 text-right">
                    <a class="btn btn-primary" asp-area="" asp-controller="Item" asp-route-Id="@item.Id" asp-action="Update">Update</a>
                    <a class="btn btn-danger"  asp-area="" asp-controller="Item" asp-route-Id="@item.Id" asp-action="Delete">Delete</a>
                </td>
</tr>
            }
        </tbody>
        </table>
    }
    else
    {
        <p>No Items Created Yet</p>
    }
</div>